{{#section 'head'}}
<link rel="stylesheet" href="/css/messagebox.css" />
{{/section}}
<div class="message-list">
    {{#each messages}}
    <div class="message">
        <div class="message-left">
            <div class="ava"></div>
        </div>
        <div class="message-right">
            <p class="message-top">{{uname}}</p>
            <div class="message-bottom">
                <p class="message-text">{{text}}</p>
                <span class="message-timestamp">{{timestamp}}</span>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<form class="message-form">
    <textarea id="message-text" rows="1" name="messagearea" class="message-text" placeholder="Сообщение..."></textarea>
</form>
{{#section 'scripts'}}
<script src="/js/messagebox.js"></script>
{{/section}}