{{#section 'head'}}
<link rel="stylesheet" href="/css/sidebar.css" />
{{/section}}
<aside class="main-sidebar">
    <header class="main-header">
        <input class="main-search" name="search" type="text" size="40" placeholder="Поиск" />
    </header>
    <ul class="main-chats">
        {{#each chats}}
        <li class="main-chat-card{{#when ../selected 'eq' id}} selected{{/when}}" id={{id}}>
            <div class="main-ava-img"></div>
            <div class="main-chat-card-right">
                <p class="main-chat-card-title">{{title}}</p>
                <p class="main-chat-card-message">
                    <span>{{fname}}: </span><span class="main-chat-card-text">{{text}}</span>
                </p>
            </div>
        </li>
        {{/each}}
    </ul>
</aside>
{{#section 'scripts'}}
<script src="/js/sidebar.js"></script>
{{/section}}