<div class="chat">
    {{component sidebar}}
    <div class="right-side">
        {{> header}}
        <article class="main-content" id="main-content">
            <p>Выберите чат...</p>
        </article>
    </div>
</div>