{{#section 'head'}}
<link rel="stylesheet" href="/css/chat.css" />
{{/section}}
{{> sidebar}}
<div class="right-side">
    {{> header}}
    <article class="main-content">
        {{#if selected}}
        {{>messagebox}}
        {{else}}
        <p>Выберите чат...</p>
        {{/if}}
    </article>
</div>