{{#section 'head'}}
<link rel="stylesheet" href="/css/error.css" />
{{/section}}
<p class="ecode">{{ecode}}</p>
<p class="emessage">{{message}}</p>
<p><a class="goback" href="javascript:history.back()">Вернуться обратно</a></p>