{{#section 'head'}}
<link rel="stylesheet" href="/css/profile.css" />
{{/section}}
{{> header}}
<article class="config-content">
    <div class="config-ava">
        <div class="config-ava-img"></div>
        <div><a>Изменить аватар</a></div>
    </div>
    {{> form}}
</article>
</div>