@import url("./theme.css");

.main-sidebar {
  height: 100%;
}

.main-sidebar {
  width: 350px;
  border-right: 1px solid var(--border-grey);
}

.main-header {
  height: 60px;
  border-bottom: 1px solid var(--border-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-search {
  height: 42px;
  border: none;
  background-color: var(--background-color-grey);
  padding: 0px 10px;
  border-radius: 20px;
  text-indent: 5px;
  text-align: center;
}

.main-search:focus {
  outline: none;
}

.main-search ::placeholder {
  color: var(--text-color-grey);
}

.main-chats li {
  list-style-type: none;
}

.main-chats {
  margin-left: 0;
  padding-left: 0px;
}

.main-chats li {
  padding-left: 10px;
}

.main-chats p {
  margin: 5px;
}

.main-ava-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e7a466;
}

.main-chat-card {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main-chat-card-right {
  overflow: hidden;
  width: calc(100% - 40px);
}

.main-chat-card-message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.selected {
  background-color: var(--background-selected);
}
