@import url("../theme.css");

html,
body {
  width: 100%;
  height: 100%;
}

.reg-body {
  background-color: var(--bakground-color-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-form {
  background-color: #fff;
  width: 375px;
  height: 475px;
  padding: 50px;
  text-align: center;
}

.reg-form-label {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

.reg-form input {
  border: none;
}

.reg-form input[type="email"],
input[type="text"],
input[type="password"] {
  height: 42px;
  background-color: var(--bakground-color-grey);
  padding: 0px 10px;
}

.reg-form ::placeholder {
  color: var(--text-color-grey);
}

.reg-form input[type="submit"] {
  width: 333px;
  height: 53px;
  font-size: 20px;
  background-color: var(--button-background-color);
  color: var(--button-color);
  margin-top: 20px;
  cursor: pointer;
}

.reg-form a {
  color: var(--text-color-blue);
}
