{{> header}}
<article class="config-content">
    <div class="config-ava">
        <div class="config-ava-img"></div>
        <div><a>Изменить аватар</a></div>
    </div>
    <div id="profile-form"></div>
</article>