:root {
  --background-color-grey: #f4f4f4;
  --text-color-grey: #a6a6a6;
  --text-color-blue: #5c81b8;
  --button-background-color: #6f9ee4;
  --button-color: #fff;
  --border-grey: #d5d5d5;
  --background-selected: #6f9ee4;
}
