@import url("../theme.css");

.error-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 10px;
}

.ecode,
.emessage {
  font-weight: bold;
}

.ecode {
  font-size: 150px;
}

.emessage {
  font-size: 48px;
}
