@import url("../theme.css");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.config-header {
  height: 50px;
  border-bottom: 1px solid var(--border-grey); /* Параметры границы */
}

.config-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.config-form {
  text-align: center;
}

.config-form-label {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

.config-form input {
  border: none;
}

.config-form input[type="email"],
input[type="text"],
input[type="password"] {
  height: 42px;
  background-color: var(--bakground-color-grey);
  padding: 0px 10px;
}

.config-form ::placeholder {
  color: var(--text-color-grey);
}

.config-form input[type="submit"] {
  width: 333px;
  height: 53px;
  font-size: 20px;
  background-color: var(--button-background-color);
  color: var(--button-color);
  margin-top: 20px;
  cursor: pointer;
}

.config-content a {
  color: var(--text-color-blue);
}

.config-ava {
  padding: 50px 50px 0px 0px;
  text-align: center;
}

.config-ava-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e7a466;
  margin-bottom: 10px;
}
